version: '3.9'
services:
  backend:
    build:
      context: ..
      dockerfile: packages/backend/Dockerfile
    env_file:
      - ../.env
    environment:
      BRACE_DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/brace
      ALEMBIC_DATABASE_URL: postgresql+psycopg://postgres:postgres@db:5432/brace
      CORS_ORIGINS: '["*"]'
    depends_on:
      - db
    ports:
      - '8000:8000'


  frontend:
    build:
      context: ..
      dockerfile: packages/frontend/Dockerfile
    depends_on:
      - backend
    ports:
      - '80:80'

  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: brace
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db_data:
